@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=cyrillic,cyrillic-ext");
* {
  box-sizing: border-box; }

*, body, html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif; }

main, footer, header {
  overflow: hidden; }

.clearfix:after {
  content: " ";
  clear: both;
  display: table; }

.container {
  width: 1060px;
  margin: 0 auto; }
  @media (max-width: 1080px) {
    .container {
      width: 726px; } }
  @media (max-width: 750px) {
    .container {
      width: 520px; } }
  @media (max-width: 520px) {
    .container {
      width: 100%; } }

.add-height {
  height: inherit; }

.btn {
  display: block;
  width: max-content;
  font-size: 22px;
  line-height: 27px;
  font-weight: 500;
  text-decoration: none;
  padding: 23px 30px; }

.btn--light {
  color: #14282F;
  border: 5px solid #14282F; }
  .btn--light:hover {
    background-color: #14282F;
    color: #fff;
    transition: all .4s ease-out; }

.btn--dark {
  color: #fff;
  border: 5px solid #fff; }
  .btn--dark:hover {
    background-color: #fff;
    color: #14282F;
    transition: all .4s ease-out; }

.circle-big {
  position: absolute;
  top: 0;
  right: 42px;
  width: 260px;
  height: 260px;
  background-color: #333333;
  border-radius: 130px;
  overflow: hidden;
  box-shadow: 0 8px 8px 0 rgba(20, 40, 47, 0.15); }
  .circle-big .circle-bg {
    transition: all 0.5s ease-out; }
  .circle-big .dot {
    transition: all .5s ease-out; }
  .circle-big:hover {
    z-index: 10; }
    .circle-big:hover .circle-bg {
      transform: matrix(1.2, 0.1, -0.1, 1.2, 20, -20); }
    .circle-big:hover .dot {
      opacity: 0; }
  .circle-big .dot {
    position: absolute;
    top: 80px;
    right: 85px; }

.circle-mid {
  position: absolute;
  top: 158px;
  right: 57px;
  width: 200px;
  height: 200px;
  background-color: #333333;
  border-radius: 100px;
  overflow: hidden;
  box-shadow: 0 8px 8px 0 rgba(20, 40, 47, 0.15);
  transition: all 0.3s ease-out; }
  .circle-mid .circle-bg {
    transition: all 0.5s ease-out; }
  .circle-mid .dot {
    transition: all .5s ease-out; }
  .circle-mid:hover {
    transform: scale(1.2);
    z-index: 10; }
    .circle-mid:hover .circle-bg {
      transform: matrix(1.2, 0.1, -0.1, 1.2, 20, -18); }
    .circle-mid:hover .dot {
      opacity: 0; }
  .circle-mid .dot {
    position: absolute;
    top: 85px;
    right: 76px; }

.circle-small {
  position: absolute;
  top: 295px;
  right: 126px;
  width: 150px;
  height: 150px;
  background-color: #333333;
  border-radius: 75px;
  overflow: hidden;
  box-shadow: 0 8px 8px 0 rgba(20, 40, 47, 0.15);
  transition: all 0.3s ease-out; }
  .circle-small .circle-bg {
    transition: all 0.5s ease-out; }
  .circle-small .dot {
    transition: all .5s ease-out; }
  .circle-small:hover {
    transform: scale(1.3);
    z-index: 10; }
    .circle-small:hover .circle-bg {
      transform: scale(1.3); }
    .circle-small:hover .dot {
      opacity: 0; }
  .circle-small .dot {
    position: absolute;
    top: 90px;
    right: 52px; }

.circle-big--upper {
  top: -45px; }

.circle-mid--upper {
  top: 113px; }

.circle-small--upper {
  top: 250px; }

.sample-circle {
  cursor: pointer;
  margin: 0 46px 0 0;
  width: 300px;
  height: 300px;
  border-radius: 150px;
  border: 5px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center; }
  .sample-circle:last-child {
    margin-right: 0; }
  .sample-circle .sub-circle {
    width: 260px;
    height: 260px;
    border-radius: 130px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center; }
    .sample-circle .sub-circle .label {
      position: absolute;
      width: 100%;
      font-size: 21px;
      line-height: 26px;
      color: #14282F;
      background-color: #fff;
      text-align: center;
      top: 40px;
      left: 0;
      font-weight: 500;
      padding: 23px; }
    .sample-circle .sub-circle img {
      transition: all 0.5s ease-out; }
    .sample-circle .sub-circle:hover img {
      transform: scale(1.2); }
  @media (max-width: 1080px) {
    .sample-circle {
      width: 230px;
      height: 230px;
      border-radius: 115px;
      margin: 0 27px 0 0; }
      .sample-circle .sub-circle {
        width: 200px;
        height: 200px;
        border-radius: 100px; } }

.product-mobile-template {
  padding: 0 0 30px 0;
  display: none;
  flex-direction: column;
  align-items: center;
  border-bottom: 15px solid #14282F; }
  .product-mobile-template .title-image {
    position: relative; }
    .product-mobile-template .title-image img {
      width: 100%; }
    .product-mobile-template .title-image .marker {
      font-size: 24px;
      line-height: 29px;
      font-weight: 500;
      text-align: center;
      padding: 18px 0;
      background-color: #FFB800;
      position: absolute;
      top: 35%;
      width: 284px;
      left: 50%;
      margin-left: -142px; }
  .product-mobile-template .description {
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    margin: 20px 0;
    text-align: center;
    padding: 0 10px; }
  .product-mobile-template .samples-slider {
    margin: 20px 0; }
    .product-mobile-template .samples-slider img {
      width: 100%; }

@media (max-width: 750px) {
  .main-header {
    display: none; } }

.mobile-header {
  display: none;
  height: 54px; }
  @media (max-width: 750px) {
    .mobile-header {
      display: block; } }

.header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.header__logo img {
  display: block;
  width: 78px;
  height: 78px; }

.header__nav {
  width: 500px;
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: space-between; }
  .header__nav li a {
    text-decoration: none;
    font-size: 24px;
    line-height: 29px;
    font-weight: 500;
    color: #000; }
  @media (max-width: 1080px) {
    .header__nav {
      width: 350px; }
      .header__nav li a {
        font-size: 20px;
        line-height: 24px; } }

.header__tel {
  justify-self: flex-end; }
  .header__tel a {
    font-size: 24px;
    line-height: 29px;
    font-weight: 500;
    text-decoration: none;
    color: #A0A0A0; }
  @media (max-width: 1080px) {
    .header__tel a {
      font-size: 20px;
      line-height: 24px; } }

.video-block__wrapper {
  position: relative;
  height: 750px; }
  @media (max-width: 1080px) {
    .video-block__wrapper {
      height: 416px; } }
  @media (max-width: 750px) {
    .video-block__wrapper {
      display: none; } }

.video-block__bg-container {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  .video-block__bg-container video {
    position: absolute;
    top: 50%;
    width: 1920px;
    left: 50%;
    right: 0;
    bottom: 0;
    transform: translate(-50%, -50%); }

.video-block__bg-overlay {
  background-color: #000;
  opacity: 0.2;
  position: absolute;
  width: 100%;
  height: 100%; }

.video-block__title {
  position: relative;
  z-index: 99;
  text-align: center;
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }
  .video-block__title h1 {
    text-transform: uppercase;
    font-size: 70px;
    line-height: 74px;
    font-weight: 800;
    margin-bottom: 20px; }
  .video-block__title h2 {
    text-transform: uppercase;
    font-size: 44px;
    line-height: 48px;
    font-weight: 800;
    margin-bottom: 110px; }
  @media (max-width: 1080px) {
    .video-block__title h1 {
      font-size: 39px;
      line-height: 43px;
      letter-spacing: 3px;
      margin-bottom: 13px; }
    .video-block__title h2 {
      font-size: 24px;
      line-height: 28px;
      font-weight: 500;
      letter-spacing: 3px; } }

.about-block__wrapper {
  padding: 50px 0 0 0; }
  @media (max-width: 750px) {
    .about-block__wrapper {
      display: none; } }

.about-block__content {
  display: flex; }

.about_block__content-description {
  color: #333333;
  padding-right: 50px; }
  .about_block__content-description h2 {
    font-size: 46px;
    line-height: 56px;
    font-weight: 600;
    margin-bottom: 30px; }
  .about_block__content-description p {
    font-size: 22px;
    line-height: 27px;
    font-weight: 500;
    margin-top: 25px; }
    .about_block__content-description p:last-of-type {
      margin-top: 15px;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px; }
  @media (max-width: 1080px) {
    .about_block__content-description h2 {
      font-size: 40px;
      line-height: 49px;
      margin-bottom: 20px; }
    .about_block__content-description p {
      font-size: 20px;
      line-height: 24px; }
      .about_block__content-description p:last-of-type {
        display: none;
        margin-top: 15px;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px; } }

.about_block__content-thumbnails {
  display: flex; }
  .about_block__content-thumbnails .main-image {
    width: 343px;
    height: 403px; }
  .about_block__content-thumbnails .imgs-container {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: baseline; }
    .about_block__content-thumbnails .imgs-container img {
      margin-bottom: 10px; }
      .about_block__content-thumbnails .imgs-container img:last-child {
        margin-bottom: 0; }
  @media (max-width: 1080px) {
    .about_block__content-thumbnails .imgs-container {
      display: none; }
    .about_block__content-thumbnails .main-image {
      width: 240px;
      height: 280px; } }

.about-block-mobile__wrapper {
  background: url("img/about-mob-bg.jpg") center no-repeat;
  padding: 50px 0 30px 0;
  height: 461px;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  display: none;
  color: #fff; }
  .about-block-mobile__wrapper h1 {
    font-size: 32px;
    line-height: 39px;
    font-weight: bold;
    margin-top: 30px; }
  .about-block-mobile__wrapper h2 {
    margin-top: 6px;
    font-size: 24px;
    line-height: 29px;
    font-weight: 500; }
  .about-block-mobile__wrapper p {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    width: 375px;
    text-align: center; }
    .about-block-mobile__wrapper p:first-of-type {
      margin-top: 30px; }
  @media (max-width: 750px) {
    .about-block-mobile__wrapper {
      display: flex; } }

.about-block-mobile-desc__wrapper {
  padding: 20px 0 30px 0;
  display: none;
  flex-direction: column;
  align-items: center;
  color: #14282F; }
  .about-block-mobile-desc__wrapper h3 {
    font-size: 16px;
    line-height: 20px;
    width: 356px;
    text-align: center; }
  .about-block-mobile-desc__wrapper p {
    font-size: 12px;
    line-height: 15px;
    margin-top: 20px;
    width: 356px;
    text-align: center; }
  @media (max-width: 750px) {
    .about-block-mobile-desc__wrapper {
      display: flex; } }

.advantages-block__wrapper {
  padding: 30px 0 60px 0; }
  @media (max-width: 1080px) {
    .advantages-block__wrapper {
      padding: 30px 0 20px 0; } }
  @media (max-width: 750px) {
    .advantages-block__wrapper {
      display: none; } }

.advantages-block__content {
  color: #333333;
  display: flex; }
  .advantages-block__content .advantages-block__content-col {
    width: 50%;
    padding-right: 65px; }
    .advantages-block__content .advantages-block__content-col .advantages-block__content-card {
      margin-bottom: 50px; }
      .advantages-block__content .advantages-block__content-col .advantages-block__content-card h3 {
        margin: 20px 0;
        font-weight: 600;
        font-size: 22px;
        line-height: 27px; }
      .advantages-block__content .advantages-block__content-col .advantages-block__content-card p {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 20px;
        font-weight: 400; }
        .advantages-block__content .advantages-block__content-col .advantages-block__content-card p:last-child {
          margin-bottom: 0; }
    @media (max-width: 1080px) {
      .advantages-block__content .advantages-block__content-col {
        padding-right: 15px; }
        .advantages-block__content .advantages-block__content-col .advantages-block__content-card {
          margin-bottom: 30px; }
          .advantages-block__content .advantages-block__content-col .advantages-block__content-card h3 {
            margin: 20px 0;
            font-size: 20px;
            line-height: 24px; }
          .advantages-block__content .advantages-block__content-col .advantages-block__content-card p {
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 18px;
            font-weight: 400; }
            .advantages-block__content .advantages-block__content-col .advantages-block__content-card p:last-child {
              margin-bottom: 0; } }

.advantages-block-mobile__wrapper {
  display: none;
  flex-direction: column;
  align-items: center; }
  .advantages-block-mobile__wrapper .slider-nav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 30px 0; }
    .advantages-block-mobile__wrapper .slider-nav .slick-list {
      margin: 0 50px; }
    .advantages-block-mobile__wrapper .slider-nav .slick-next, .advantages-block-mobile__wrapper .slider-nav .slick-prev {
      display: none !important; }
    .advantages-block-mobile__wrapper .slider-nav .slick-arrow {
      position: absolute;
      width: 25px;
      height: 60px;
      border: none;
      cursor: pointer; }
    .advantages-block-mobile__wrapper .slider-nav .making-arrow-next {
      background: url(img/arrow-right-slider.svg) center no-repeat;
      right: 40px; }
    .advantages-block-mobile__wrapper .slider-nav .making-arrow-prev {
      background: url(img/arrow-left-slider.svg) center no-repeat;
      left: 40px; }
    .advantages-block-mobile__wrapper .slider-nav .slide {
      width: 300px;
      display: flex;
      justify-content: center;
      align-items: center; }
  .advantages-block-mobile__wrapper .slider-for {
    color: #333;
    text-align: center; }
    .advantages-block-mobile__wrapper .slider-for h3 {
      font-size: 22px;
      line-height: 27px;
      margin-bottom: 10px;
      font-weight: 600; }
    .advantages-block-mobile__wrapper .slider-for p {
      font-size: 12px;
      line-height: 15px; }
  @media (max-width: 750px) {
    .advantages-block-mobile__wrapper {
      display: flex; } }

.product-presentation-block__wrapper {
  background: url(img/vector14.svg) 50% -110% no-repeat; }
  @media (max-width: 1080px) {
    .product-presentation-block__wrapper {
      background: none; } }
  @media (max-width: 750px) {
    .product-presentation-block__wrapper {
      padding-bottom: 30px; } }

.product-presentation-block__content .product-presentation-block__content-title {
  color: #333333; }
  .product-presentation-block__content .product-presentation-block__content-title h2 {
    font-size: 46px;
    line-height: 56px;
    font-weight: 600; }
  .product-presentation-block__content .product-presentation-block__content-title p {
    margin: 30px 0;
    font-size: 22px;
    line-height: 27px;
    font-weight: 500; }
    .product-presentation-block__content .product-presentation-block__content-title p:last-child {
      margin-bottom: 50px;
      font-size: 18px;
      line-height: 22px; }
  @media (max-width: 1080px) {
    .product-presentation-block__content .product-presentation-block__content-title h2 {
      font-size: 40px;
      line-height: 49px; }
    .product-presentation-block__content .product-presentation-block__content-title p {
      margin: 30px 0;
      font-size: 20px;
      line-height: 24px; }
      .product-presentation-block__content .product-presentation-block__content-title p:last-child {
        margin-bottom: 40px;
        font-size: 16px;
        line-height: 20px; } }
  @media (max-width: 750px) {
    .product-presentation-block__content .product-presentation-block__content-title {
      text-align: center; }
      .product-presentation-block__content .product-presentation-block__content-title h2 {
        font-size: 22px;
        line-height: 27px;
        font-weight: 600;
        margin: 20px 0; }
      .product-presentation-block__content .product-presentation-block__content-title p {
        font-size: 16px;
        line-height: 20px;
        margin: 0; }
      .product-presentation-block__content .product-presentation-block__content-title .no-mobile {
        display: none; } }
.product-presentation-block__content .product-presentation-block__content-tile {
  display: grid;
  grid-template-columns: 345px 345px 340px;
  grid-template-rows: 240px 240px 240px;
  grid-gap: 10px; }
  .product-presentation-block__content .product-presentation-block__content-tile .image {
    display: block;
    overflow: hidden;
    position: relative;
    cursor: pointer; }
    .product-presentation-block__content .product-presentation-block__content-tile .image .product-title-marker {
      position: absolute;
      background-color: #14282F;
      color: #fff;
      font-size: 24px;
      line-height: 29px;
      font-weight: 500;
      padding: 18px 20px;
      top: 50px;
      left: 0;
      box-shadow: 0 4px 4px 0 rgba(20, 40, 47, 0.25); }
      .product-presentation-block__content .product-presentation-block__content-tile .image .product-title-marker br {
        display: none; }
    .product-presentation-block__content .product-presentation-block__content-tile .image:hover .product-title-marker {
      background-color: #FFB800;
      color: #14282F;
      transition: all 1s ease-out; }
  .product-presentation-block__content .product-presentation-block__content-tile .image img {
    transition: all 1s ease-out; }
  .product-presentation-block__content .product-presentation-block__content-tile .image:hover img {
    transform: scale(1.2); }
  .product-presentation-block__content .product-presentation-block__content-tile .wide {
    grid-column-start: 1;
    grid-column-end: 3; }
  .product-presentation-block__content .product-presentation-block__content-tile .tall {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4; }
  @media (max-width: 1080px) {
    .product-presentation-block__content .product-presentation-block__content-tile {
      grid-template-columns: 236px 236px 233px;
      grid-template-rows: 164px 164px 164px;
      grid-gap: 6px; }
      .product-presentation-block__content .product-presentation-block__content-tile .image .product-title-marker {
        font-size: 20px;
        line-height: 24px;
        padding: 18px 18px; }
        .product-presentation-block__content .product-presentation-block__content-tile .image .product-title-marker br {
          display: block; } }
  @media (max-width: 750px) {
    .product-presentation-block__content .product-presentation-block__content-tile {
      display: none; } }

.engineering-board-block__wrapper {
  padding: 110px 0 63px 0;
  background: url(img/vector14.svg) 50% 100% no-repeat; }
  @media (max-width: 1080px) {
    .engineering-board-block__wrapper {
      padding: 40px 0 50px 0;
      background: none; } }
  @media (max-width: 750px) {
    .engineering-board-block__wrapper {
      display: none; } }

.engineering-board-block__content {
  display: flex;
  flex-direction: column;
  position: relative; }
  .engineering-board-block__content h2 {
    font-size: 46px;
    line-height: 56px; }
  .engineering-board-block__content p {
    font-size: 22px;
    line-height: 27px;
    font-weight: 400;
    width: 616px;
    margin: 50px 0 88px 0; }
    .engineering-board-block__content p strong {
      font-weight: 600; }
  .engineering-board-block__content .engineering-board-image {
    margin-bottom: 20px;
    position: relative; }
    .engineering-board-block__content .engineering-board-image .wood {
      position: relative;
      left: -40px; }
    .engineering-board-block__content .engineering-board-image .dot {
      position: absolute;
      text-decoration: none; }
      .engineering-board-block__content .engineering-board-image .dot p {
        position: absolute;
        font-size: 14px;
        line-height: 17px;
        color: #333333;
        font-weight: 500;
        opacity: 0.3;
        cursor: default;
        transition: all 0.3s ease-out; }
    .engineering-board-block__content .engineering-board-image .dot--1 {
      top: 10px;
      left: 84px; }
      .engineering-board-block__content .engineering-board-image .dot--1:hover p {
        opacity: 1; }
      .engineering-board-block__content .engineering-board-image .dot--1 p {
        width: 196px;
        top: -125px;
        left: -75px; }
    .engineering-board-block__content .engineering-board-image .dot--2 {
      top: 70px;
      left: 344px; }
      .engineering-board-block__content .engineering-board-image .dot--2:hover p {
        opacity: 1; }
      .engineering-board-block__content .engineering-board-image .dot--2 p {
        width: 216px;
        top: 15px;
        left: 0; }
    .engineering-board-block__content .engineering-board-image .dot--3 {
      top: 40px;
      left: 470px; }
      .engineering-board-block__content .engineering-board-image .dot--3:hover p {
        opacity: 1; }
      .engineering-board-block__content .engineering-board-image .dot--3 p {
        width: 196px;
        top: -146px;
        right: -172px; }
  .engineering-board-block__content .samples-block {
    margin: 0 0 40px 0;
    display: none;
    justify-content: center; }
    .engineering-board-block__content .samples-block .sample-circle {
      margin: 0 46px 0 0;
      width: 200px;
      height: 200px;
      border-radius: 100px;
      border: none; }
      .engineering-board-block__content .samples-block .sample-circle:last-child {
        margin: 0; }
      .engineering-board-block__content .samples-block .sample-circle .sub-circle {
        width: 200px;
        height: 200px;
        border-radius: 100px; }
  @media (max-width: 1080px) {
    .engineering-board-block__content h2 {
      font-size: 40px;
      line-height: 48px; }
    .engineering-board-block__content p {
      font-size: 20px;
      line-height: 24px;
      margin: 40px 0 100px 0;
      width: initial; }
    .engineering-board-block__content .engineering-board-image {
      margin-left: 30px;
      margin-bottom: 50px; }
      .engineering-board-block__content .engineering-board-image .dot--2 p {
        width: 431px;
        left: -240px; }
    .engineering-board-block__content .btn {
      align-self: center; }
    .engineering-board-block__content .samples-block--tablet {
      display: flex; }
    .engineering-board-block__content .circle--no-tablet {
      display: none; } }

@media (max-width: 750px) {
  .engineering-board-mobile-block__wrapper {
    display: flex; } }
.engineering-board-mobile-block__wrapper samples-slider .slick-track {
  position: relative;
  left: -77px; }

.modular-parquet-block__wrapper {
  height: 1252px;
  background: url("img/bg-dark-1.svg") center no-repeat; }
  @media (max-width: 1080px) {
    .modular-parquet-block__wrapper {
      height: 1053px;
      background-position: 50% 100%; } }
  @media (max-width: 750px) {
    .modular-parquet-block__wrapper {
      display: none; } }

.modular-parquet-block__content-paralax {
  background: url("img/parquet-bg.jpg") center no-repeat;
  color: #fff;
  padding: 60px 0 0 0;
  height: 614px; }
  .modular-parquet-block__content-paralax h2 {
    font-size: 46px;
    line-height: 56px;
    font-weight: 600;
    margin: 0 0 50px 0; }
  .modular-parquet-block__content-paralax p {
    font-size: 22px;
    line-height: 27px;
    font-weight: 500;
    margin-bottom: 27px;
    width: 775px; }
  @media (max-width: 1080px) {
    .modular-parquet-block__content-paralax {
      display: none; } }

.modular-parquet-block__content {
  display: none;
  background: url("img/parquet-bg.jpg") center no-repeat;
  color: #fff;
  padding: 50px 0 0 0;
  height: 525px; }
  .modular-parquet-block__content h2 {
    font-size: 40px;
    line-height: 48px;
    font-weight: 600;
    margin: 0 0 30px 0; }
  .modular-parquet-block__content p {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 24px; }
  @media (max-width: 1080px) {
    .modular-parquet-block__content {
      display: block; } }

.modular-parquet-block__content-simples {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .modular-parquet-block__content-simples .samples-block {
    margin: 80px 0 60px 0;
    display: flex;
    justify-content: center; }
  @media (max-width: 1080px) {
    .modular-parquet-block__content-simples .samples-block {
      margin: 60px 0; } }

@media (max-width: 750px) {
  .modular-parquet-mobile-block__wrapper {
    display: flex; } }

.massive-board-block__wrapper {
  padding: 85px 0 176px 0;
  background: url(img/elka-top.jpg) 50% 100% no-repeat; }
  @media (max-width: 1080px) {
    .massive-board-block__wrapper {
      padding: 50px 0 150px 0; } }

.massive-board-block__content {
  color: #333;
  display: flex;
  flex-direction: column;
  position: relative; }
  .massive-board-block__content h2 {
    font-size: 46px;
    line-height: 56px; }
  .massive-board-block__content p {
    font-size: 22px;
    line-height: 27px;
    font-weight: 400;
    width: 670px;
    margin: 50px 0 18px 0; }
    .massive-board-block__content p strong {
      font-weight: 600; }
    .massive-board-block__content p:last-of-type {
      font-size: 18px;
      line-height: 22px;
      margin: 0 0 50px 0; }
  .massive-board-block__content .massive-board-image {
    position: relative; }
    .massive-board-block__content .massive-board-image .wood {
      position: relative; }
  .massive-board-block__content .samples-block {
    display: none; }
  @media (max-width: 1080px) {
    .massive-board-block__content h2 {
      font-size: 40px;
      line-height: 48px; }
    .massive-board-block__content p {
      font-size: 20px;
      line-height: 24px;
      width: initial;
      margin: 50px 0 18px 0; }
      .massive-board-block__content p strong {
        font-weight: 600; }
      .massive-board-block__content p:last-of-type {
        font-size: 16px;
        line-height: 20px;
        margin: 0 0 40px 0; }
    .massive-board-block__content .circle--no-tablet {
      display: none; }
    .massive-board-block__content .samples-block--tablet {
      display: flex;
      margin-bottom: 80px; }
      .massive-board-block__content .samples-block--tablet .sample-circle {
        border: none; }
    .massive-board-block__content .massive-board-image .wood {
      left: 0;
      top: 0; } }

.elka-parquet-block__wrapper {
  height: 945px;
  background: url("img/elka-btm.jpg") 50% 0 no-repeat; }

.elka-parquet-block__content {
  color: #fff;
  padding: 50px 0 0 0; }
  .elka-parquet-block__content h2 {
    font-size: 46px;
    line-height: 56px;
    font-weight: 600;
    margin: 0 0 60px 0; }
  .elka-parquet-block__content p {
    font-size: 22px;
    line-height: 27px;
    font-weight: 500;
    width: 668px; }
  @media (max-width: 1080px) {
    .elka-parquet-block__content h2 {
      font-size: 40px;
      line-height: 48px; }
    .elka-parquet-block__content p {
      font-size: 20px;
      line-height: 24px;
      width: 448px; } }

.elka-parquet-block__content-simples {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .elka-parquet-block__content-simples .samples-block {
    margin: 50px 0 70px 0;
    display: flex;
    justify-content: center; }
  @media (max-width: 1080px) {
    .elka-parquet-block__content-simples .samples-block .label {
      font-size: 18px;
      line-height: 20px;
      padding: 15px; } }

.art-parquet-block__wrapper {
  padding: 85px 0 71px 0; }
  @media (max-width: 1080px) {
    .art-parquet-block__wrapper {
      padding: 50px 0; } }

.art-parquet-block__content {
  color: #333;
  display: flex;
  flex-direction: column;
  position: relative; }
  .art-parquet-block__content h2 {
    font-size: 46px;
    line-height: 56px; }
  .art-parquet-block__content p {
    font-size: 22px;
    line-height: 27px;
    font-weight: 400;
    width: 616px;
    margin: 50px 0 35px 0; }
    .art-parquet-block__content p strong {
      font-weight: 600; }
  .art-parquet-block__content .samples-block {
    display: none; }
  @media (max-width: 1080px) {
    .art-parquet-block__content h2 {
      font-size: 40px;
      line-height: 48px; }
    .art-parquet-block__content p {
      font-size: 20px;
      line-height: 24px;
      width: initial; }
    .art-parquet-block__content .samples-block {
      display: flex;
      margin-bottom: 50px; }
    .art-parquet-block__content .btn {
      align-self: center; }
    .art-parquet-block__content .circle--no-tablet {
      display: none; } }

.wall-panels-block__wrapper {
  height: 972px;
  background: url(img/wall-pannels.jpg) 50% 0 no-repeat; }
  @media (max-width: 1080px) {
    .wall-panels-block__wrapper {
      background: url(img/sten.png) 50% 100% no-repeat;
      height: 840px; } }

.wall-panels-block__content {
  color: #fff;
  padding: 60px 0 60px 0; }
  .wall-panels-block__content h2 {
    font-size: 46px;
    line-height: 56px;
    font-weight: 600;
    margin: 0 0 50px 0; }
  .wall-panels-block__content p {
    font-size: 22px;
    line-height: 27px;
    font-weight: 500;
    width: 694px; }
  @media (max-width: 1080px) {
    .wall-panels-block__content h2 {
      font-size: 40px;
      line-height: 48px; }
    .wall-panels-block__content p {
      font-size: 20px;
      line-height: 24px;
      width: initial; } }

.wall-panels-block__content-simples {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .wall-panels-block__content-simples .samples-block {
    margin: 60px 0 50px 0;
    display: flex;
    justify-content: center; }

.wall-panels-block__content-extra-offer {
  color: #14282F;
  padding-bottom: 40px;
  background: url(img/wall-pannels.jpg) 50% 100% no-repeat; }
  .wall-panels-block__content-extra-offer h2 {
    font-size: 46px;
    line-height: 56px;
    font-weight: 600;
    margin: 0 0 40px 0;
    position: relative;
    top: -10px; }
  .wall-panels-block__content-extra-offer p {
    width: 501px;
    font-size: 22px;
    line-height: 27px;
    font-weight: 500;
    margin-bottom: 23px; }
  @media (max-width: 1080px) {
    .wall-panels-block__content-extra-offer {
      background: none; }
      .wall-panels-block__content-extra-offer h2 {
        font-size: 40px;
        line-height: 48px;
        margin: 0 0 20px 0; }
      .wall-panels-block__content-extra-offer p {
        width: 501px;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 23px; } }

.red-btn {
  text-decoration: none;
  color: #fff;
  background-color: #FF2000;
  width: 354px;
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 22px;
  line-height: 27px;
  font-weight: 500;
  transition: all 0.3s ease-out; }
  .red-btn img {
    margin-left: 20px; }
  .red-btn:hover {
    background-color: #DB1B00; }

.map-block__header {
  background-color: #666;
  color: #fff;
  padding: 49px 0; }
  .map-block__header h2 {
    font-size: 46px;
    line-height: 56px;
    font-weight: 600; }
  @media (max-width: 1080px) {
    .map-block__header {
      padding: 25px 0; }
      .map-block__header h2 {
        font-size: 40px;
        line-height: 48px; } }

.map-block__content {
  display: flex;
  justify-content: flex-end; }
  .map-block__content .map-block__content-map {
    position: relative;
    width: 45%; }
    .map-block__content .map-block__content-map img {
      width: 100%; }

footer {
  background-color: #003333; }

.footer-content {
  height: 51px;
  display: flex;
  align-items: center; }
  .footer-content a {
    text-decoration: none;
    margin-right: 11px; }
    .footer-content a:last-of-type {
      margin-right: 50px; }
    .footer-content a:hover {
      background-color: #FFB800; }
    .footer-content a img {
      width: 35px;
      height: 35px; }
  .footer-content p {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: #A0A0A0; }

/*# sourceMappingURL=styles.css.map */
