// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=cyrillic,cyrillic-ext');



// Common styles
* {
  box-sizing: border-box;
}

*, body, html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 1060px;
  margin: 0 auto;
}

.add-height {
  height: inherit;
}






// header

.header {
  height: 100px;
  display: flex;
  align-items: center;

}
.header__logo {
  img {
    width: 78px;
    height: 78px;
  }
}
.header__nav {
  margin-left: 61px;
  margin-right: 185px;
  width: 500px;
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  li a {
    text-decoration: none;
    font-size: 24px;
    line-height: 29px;
    font-weight: 500;
    color: #000;
  }
}
.header__tel {
  a {
    font-size: 24px;
    line-height: 29px;
    font-weight: 500;
    text-decoration: none;
    color: #A0A0A0;
  }
}


// video block

.video-block__wrapper {
  position: relative;
  height: 750px;
}
.video-block__bg-container {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  video {
    position: absolute;
    top: 50%;
    width: 1920px;
    left: 50%;
    right: 0;
    bottom: 0;
    transform: translate(-50%, -50%);
  }
}
.video-block__bg-overlay {
  background-color: #000;
  opacity: 0.2;
  position: absolute;
  width: 100%;
  height: 100%;
}
.video-block__title {
  position: relative;
  z-index: 99;
  text-align: center;
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;


  h1 {
    text-transform: uppercase;
    font-size: 70px;
    line-height: 74px;
    font-weight: 800;
    margin-bottom: 20px;
  }
  h2 {
    text-transform: uppercase;
    font-size: 44px;
    line-height: 48px;
    font-weight: 800;
    margin-bottom: 110px;
  }
}

// about block
.about-block__wrapper {
  padding: 50px 0 0 0;
}
.about-block__content {
  display: flex;
}
.about_block__content-description {
  color: #333333;
  padding-right: 50px;
  h2 {
    font-size: 46px;
    line-height: 56px;
    font-weight: 600;
   margin-bottom: 30px;
  }
  p {
    font-size: 22px;
    line-height: 27px;
    font-weight: 500;
    &:last-child {
      margin-top: 15px;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
    }
  }
}
.about_block__content-thumbnails {
  display: flex;
  .imgs-container {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    img {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

// Advantages block
.advantages-block__wrapper {
  padding:30px 0 60px 0 ;
}
.advantages-block__content {
  color: #333333;
  display: flex;
  .advantages-block__content-col {
    width: 50%;
    padding-right: 65px;
    .advantages-block__content-card {
      margin-bottom: 50px;
      h3 {
        margin: 20px 0;
        font-weight: 600;
        font-size: 22px;
        line-height: 27px;
      }
      p {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 20px;
        font-weight: 400;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .card--margin {
      margin-bottom: 60px;
    }
  }
}


// Product presentation block
.product-presentation-block__wrapper {


}
.product-presentation-block__content {


  .product-presentation-block__content-tile {
    display: grid;
    grid-template-columns: 345px 345px 340px;
    grid-template-rows: 240px 240px 240px;
    grid-gap: 10px;
    .image {
      display: block;
      overflow:hidden;
      position: relative;
      cursor: pointer;
      .product-title-marker {
        position: absolute;
        background-color: #14282F;
        color: #fff;
        font-size: 24px;
        line-height: 29px;
        font-weight: 500;
        padding: 18px 20px;
        top:50px;
        left: 0;
      }
      &:hover {
        .product-title-marker {
          background-color: yellow;
          color: #14282F;
          transition: all 1s ease-out;
        }
      }

    }
    .image img {
      transition: all 1s ease-out;
    }

    .image:hover{
      img {transform: scale(1.2);}

    }
    .wide {
      grid-column-start: 1;
      grid-column-end: 3;
    }
    .tall {
      grid-column-start: 3;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 4;
    }

  }

}

